:root {
  --primary-bg-color: black;
  --primary-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
}
.title {
  color: var(--primary-color);
  padding-top: 5em;
  padding-left: 3em;
  font-family: "IBM Plex Mono", monospace;
  font-size: 5em;
  font-weight: 600;
  font-style: normal;
  width: 10em;
}
.accent {
  color: cyan;
}

.subtext {
  color: rgb(220, 220, 220);
  padding-top: 1em;
  padding-left: 10em;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5em;
  font-weight: 300;
  font-style: normal;
  width: 25em;
}
.ascii {
  color: rgb(220, 220, 220);
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2em;
  font-weight: 300;
  position: absolute;
  right: 7em;
  top: 9em;
  font-style: normal;
}
.nav {
  width: 100%;
  height: 60px;
  position: fixed;
  background: rgba(0, 0, 0, 0);
  filter: opacity(50%);
}

.nav ul {
  padding: 20px;
  padding-right: 9em;
  list-style: none;
  text-align: right;
}

.nav ul li {
  display: inline-block;
  margin: 0 30px;
  color: rgb(240, 240, 240);
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5em;
  font-weight: 500;
  font-style: normal;
}

.role {
  color: rgb(230, 230, 230);
  padding-top: 0.1em;
  padding-left: 5em;
  font-family: "IBM Plex Mono", monospace;
  font-size: 3em;
  font-weight: 500;
  font-style: normal;
}
